<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<title></title>

<style type="text/css">
.hidden_link {
	text-decoration: none;
	color: black;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;

}

th, td{
	padding-right: 1em;
	padding-left: 1em;
}

nav{
	float: right;
}
</style>

</head>
<body>
	<nav>
		<a href="/list/all">show all requests</a> |
	  <a href="/list/new">show new requests</a> |
	  <a href="/list/approved">show approved requests</a>
	</nav>
	<h1><%= @title %></h1>
	<table>
		<tr>
			<th>Transaction ID</th>
			<th>Clinic ID</th>
			<th>Clinic Name</th>
			<th>Clinic Status</th>
			<th>Clinic Update Time</th>
		</tr>

		<% @h.each do |key, item| %>
			<tbody style="cursor: pointer">
			<% item.each do |record| %>
				<tr class="content" name="clinic<%= record.clinic_id %>">
					<td><%= record.transc_id %></td>
					<% if @num != 2 %>
						<td><a href="/results?<%= record.transc_id %>" class="hidden_link"><%= record.clinic_id %></a></td>
					<% else %>
						<td><a href="" class="hidden_link"><%= record.clinic_id %></a></td>
					<% end %>
					<td><%= record.clinic_name %></td>
					<td><%= record.update_status %></td>
					<td><%= record.last_updated %></td>
				</tr>
			<% end %>
			</tbody>
		<% end %>
	</table>

	<script type="text/javascript">
		$('.content').click( function() {
		    window.location = $(this).find('a').attr('href');
		}).hover( function() {
			var myName = $(this).attr('name');
			if(myName != "clinic"){
				$("[name='"+myName+"']").css("background-color", "#42B4E6");
			}
			else{
				$(this).css("background-color", "#42B4E6");
			}
		}).on('mouseleave', function() {
			var myName = $(this).attr('name');
			$("[name='"+myName+"']").css("background-color", "white");
		});
	</script>
</body>

</html>
