<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<title></title>

<style type="text/css">
/*.content:hover{
	background: #42B4E6;
}*/
.hidden_link {
	text-decoration: none;
	color: black;
}
</style>
</head>
<body>
	
	<h1>Listing New Clinics</h1>
	<table>
		<tr>
			<th>Clinic ID</th>
			<th>Clinic Name</th>
			<th>Clinic Status</th>
			<th>Clinic Update Time</th>
		</tr>

		<% @h.each do |key, item| %>
			<tbody style="cursor: pointer;"  >
			<% item.each do |record| %>
				<tr class="content" name="clinic<%= record.clinic_id %>">
					<td><a href="/results?<%= record.transc_id %>" class="hidden_link"><%= record.clinic_id %></a></td>
					<td><%= record.clinic_name %></td>
					<td><%= record.update_status %></td>
					<td><%= record.last_updated %></td>
				</tr>
			<% end %>
			</tbody>
		<% end %>
	</table>

	<script type="text/javascript">
		$('.content').click( function() {
		    window.location = $(this).find('a').attr('href');
		}).hover( function(){
			console.log("mouseover!");
			var myName = $(this).attr('name');
			$("[name='"+myName+"']").css("background-color", "#42B4E6");
		}).on('mouseleave', function(){
			var myName = $(this).attr('name');
			$("[name='"+myName+"']").css("background-color", "white");
		});
	</script>
</body>

</html>
