<html>
<head>
  <title><%= @title %></title>
</head>
<body>
  <h1><%= @header %></h1>
  <table>
    <tbody>
    <tr>
      <th>Clinic ID</th>
      <th>Clinic Name</th>
    </tr>
   <h1>UPDATE:</h1>
      <% @clinic_update.each do |each| %>
        <tr>
          <td><%= each.clinic_id %></td>
          <td><a href="/results?<%= each.clinic_id %>&add=false"><%= each.clinic_name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <table>
    <tbody>
    <tr>
      <th>Clinic Name</th>
    </tr>
   <h1>ADD:</h1>
      <% @add_clinic_inserts.each do |each| %>
        <tr>
          <td><a href="/results?<%= each.transc_id %>&add=true"> <%= each.clinic_name %> </a></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</body>
</html>
