<h1>ApprDeny#approve</h1>
<p>Find me in app/views/appr_deny/approve.html.erb</p>
<p> params clinic_name <%= @form_params[:clinic_name] %> </p>
<p> clinic_name <%= @clinic[:clinic_name] %> </p>
<p> transc_id <%= params[:transc_id] %> </p>
<p> update_status <%= @clinic_insert.update_status %> </p>
<p> clinic_id <%= @clinic.clinic_id %> </p>