<h1>ApprDeny#approve</h1>
<p>ApprDeny test</p>
<p> params clinic_name <%= @form_params[:clinic_name] %> </p>
<p> clinic_name <%= @clinic[:clinic_name] %> </p>
<p> transc_id <%= params[:transc_id] %> </p>
<p> update_status <%= @clinic_insert.update_status %> </p>
<p> clinic_id <%= @clinic.clinic_id %> </p>
<p> hours <%=@new_clinic_hour.clinic_id %> <%=@new_clinic_hour.hour_type %> <%=@new_clinic_hour.mon %></p>