<!DOCTYPE html>
<html>
<head>
  
</head>

<body>
  <%= form_for @clinic, :url => {:action => "approve", :controller => "appr_deny"}, :html => {:class => ""} do |f| %>
    <input type="hidden" name="transc_id" value="<%= @transc_id %>">
    
    clinic_name:<br>
    <% if not @origin_clinic.nil? %>
      <%= f.radio_button :clinic_name, @origin_clinic.clinic_name %><%= @origin_clinic.clinic_name %>(origin)<br>
    <% end %>
    <% @clinic_insert.each do |v| %>
      <%= f.radio_button :clinic_name, v.clinic_name %><%= v.clinic_name %><br>
    <% end %>
    <%= f.radio_button :clinic_name, "" %>
    <input id='other_clinic_name' type='text' class="other" value="">
    <br><br>

    alternative_name:<br>
    <% if not @origin_clinic.nil? %>
      <%= f.radio_button :alternative_name, @origin_clinic.alternative_name %><%= @origin_clinic.alternative_name %>(origin)<br>
    <% end %>
    <% @clinic_insert.each do |v| %>
      <%= f.radio_button :alternative_name, v.alternative_name %><%= v.alternative_name %><br>
    <% end %>
    <%= f.radio_button :alternative_name, "" %>
    <input id='other_alternative_name' type='text' class="other" value="">
    <br><br>

    lat:<br>
    <% if not @origin_clinic.nil? %>
      <%= f.radio_button :lat, @origin_clinic.lat %><%= @origin_clinic.lat %>(origin)<br>
    <% end %>
    <% @clinic_insert.each do |v| %>
      <%= f.radio_button :lat, v.lat %><%= v.lat %><br>
    <% end %>
    <%= f.radio_button :lat, "" %>
    <input id='other_lat' type='text' class="other" value="">
    <br><br>

    lng:<br>
    <% if not @origin_clinic.nil? %>
      <%= f.radio_button :lng, @origin_clinic.lng %><%= @origin_clinic.lng %>(origin)<br>
    <% end %>
    <% @clinic_insert.each do |v| %>
    <%= f.radio_button :lng, v.lng %><%= v.lng %><br>
    <% end %>
    <%= f.radio_button :lng, "" %>
    <input id='other_lng' type='text' class="other" value="">
    <br><br>
    
    primary_source:<br>
    <% if not @origin_clinic.nil? %>
      <%= f.radio_button :primary_source, @origin_clinic.primary_source %><%= @origin_clinic.primary_source %>(origin)<br>
    <% end %>
    <% @clinic_insert.each do |v| %>
    <%= f.radio_button :primary_source, v.primary_source %><%= v.primary_source %><br>
    <% end %>
    <%= f.radio_button :primary_source, "" %>
    <input id='other_primary_source' type='text' class="other" value="">
    <br><br>
    
    street_addr1:<br>
    <% if not @origin_clinic.nil? %>
      <%= f.radio_button :street_addr1, @origin_clinic.street_addr1 %><%= @origin_clinic.street_addr1 %>(origin)<br>
    <% end %>
    <% @clinic_insert.each do |v| %>
    <%= f.radio_button :street_addr1, v.street_addr1 %><%= v.street_addr1 %><br>
    <% end %>
    <%= f.radio_button :street_addr1, "" %>
    <input id='other_street_addr1' type='text' class="other" value="">
    <br><br>
    
    street_addr2:<br>
    <% if not @origin_clinic.nil? %>
      <%= f.radio_button :street_addr2, @origin_clinic.street_addr2 %><%= @origin_clinic.street_addr2 %>(origin)<br>
    <% end %>
    <% @clinic_insert.each do |v| %>
    <%= f.radio_button :street_addr2, v.street_addr2 %><%= v.street_addr2 %><br>
    <% end %>
    <%= f.radio_button :street_addr2, "" %>
    <input id='other_street_addr2' type='text' class="other" value="">
    <br><br>
    
    city:<br>
    <% if not @origin_clinic.nil? %>
      <%= f.radio_button :city, @origin_clinic.city %><%= @origin_clinic.city %>(origin)<br>
    <% end %>
    <% @clinic_insert.each do |v| %>
    <%= f.radio_button :city, v.city %><%= v.city %><br>
    <% end %>
    <%= f.radio_button :city, "" %>
    <input id='other_city' type='text' class="other" value="">
    <br><br>
    
    state:<br>
    <% if not @origin_clinic.nil? %>
      <%= f.radio_button :state, @origin_clinic.state %><%= @origin_clinic.state %>(origin)<br>
    <% end %>
    <% @clinic_insert.each do |v| %>
    <%= f.radio_button :state, v.state %><%= v.state %><br>
    <% end %>
    <%= f.radio_button :state, "" %>
    <input id='other_state' type='text' class="other" value="">
    <br><br>
    
    zipcode:<br>
    <% if not @origin_clinic.nil? %>
      <%= f.radio_button :zipcode, @origin_clinic.zipcode %><%= @origin_clinic.zipcode %>(origin)<br>
    <% end %>
    <% @clinic_insert.each do |v| %>
    <%= f.radio_button :zipcode, v.zipcode %><%= v.zipcode %><br>
    <% end %>
    <%= f.radio_button :zipcode, "" %>
    <input id='other_zipcode' type='text' class="other" value="">
    <br><br>
    
    primary_phone:<br>
    <% if not @origin_clinic.nil? %>
      <%= f.radio_button :primary_phone, @origin_clinic.primary_phone %><%= @origin_clinic.primary_phone %>(origin)<br>
    <% end %>
    <% @clinic_insert.each do |v| %>
    <%= f.radio_button :primary_phone, v.primary_phone %><%= v.primary_phone %><br>
    <% end %>
    <%= f.radio_button :primary_phone, "" %>
    <input id='other_primary_phone' type='text' class="other" value="">
    <br><br>
    
    appointment_phone:<br>
    <% if not @origin_clinic.nil? %>
      <%= f.radio_button :appointment_phone, @origin_clinic.appointment_phone %><%= @origin_clinic.appointment_phone %>(origin)<br>
    <% end %>
    <% @clinic_insert.each do |v| %>
    <%= f.radio_button :appointment_phone, v.appointment_phone %><%= v.appointment_phone %><br>
    <% end %>
    <%= f.radio_button :appointment_phone, "" %>
    <input id='other_appointment_phone' type='text' class="other" value="">
    <br><br>
    
    
    donation_phone:<br>
    <% if not @origin_clinic.nil? %>
      <%= f.radio_button :donation_phone, @origin_clinic.donation_phone %><%= @origin_clinic.donation_phone %>(origin)<br>
    <% end %>
    <% @clinic_insert.each do |v| %>
    <%= f.radio_button :donation_phone, v.donation_phone %><%= v.donation_phone %><br>
    <% end %>
    <%= f.radio_button :donation_phone, "" %>
    <input id='other_donation_phone' type='text' class="other" value="">
    <br><br>
    
    phone_comments:<br>
    <% if not @origin_clinic.nil? %>
      <%= f.radio_button :phone_comments, @origin_clinic.phone_comments %><%= @origin_clinic.phone_comments %>(origin)<br>
    <% end %>
    <% @clinic_insert.each do |v| %>
    <%= f.radio_button :phone_comments, v.phone_comments %><%= v.phone_comments %><br>
    <% end %>
    <%= f.radio_button :phone_comments, "" %>
    <input id='other_phone_comments' type='text' class="other" value="">
    <br><br>
    
    fax:<br>
    <% if not @origin_clinic.nil? %>
      <%= f.radio_button :fax, @origin_clinic.fax %><%= @origin_clinic.fax %>(origin)<br>
    <% end %>
    <% @clinic_insert.each do |v| %>
    <%= f.radio_button :fax, v.fax %><%= v.fax %><br>
    <% end %>
    <%= f.radio_button :fax, "" %>
    <input id='other_fax' type='text' class="other" value="">
    <br><br>
    
    clinic_type:<br>
    <% if not @origin_clinic.nil? %>
      <%= f.radio_button :clinic_type, @origin_clinic.clinic_type %><%= @origin_clinic.clinic_type %>(origin)<br>
    <% end %>
    <% @clinic_insert.each do |v| %>
    <%= f.radio_button :clinic_type, v.clinic_type %><%= v.clinic_type %><br>
    <% end %>
    <%= f.radio_button :clinic_type, "" %>
    <input id='other_clinic_type' type='text' class="other" value="">
    <br><br>
    
    website:<br>
    <% if not @origin_clinic.nil? %>
      <%= f.radio_button :website, @origin_clinic.website %><%= @origin_clinic.website %>(origin)<br>
    <% end %>
    <% @clinic_insert.each do |v| %>
    <%= f.radio_button :website, v.website %><%= v.website %><br>
    <% end %>
    <%= f.radio_button :website, "" %>
    <input id='other_website' type='text' class="other" value="">
    <br><br>
    
    primary_contact:<br>
    <% if not @origin_clinic.nil? %>
      <%= f.radio_button :primary_contact, @origin_clinic.primary_contact %><%= @origin_clinic.primary_contact %>(origin)<br>
    <% end %>
    <% @clinic_insert.each do |v| %>
    <%= f.radio_button :primary_contact, v.primary_contact %><%= v.primary_contact %><br>
    <% end %>
    <%= f.radio_button :primary_contact, "" %>
    <input id='other_primary_contact' type='text' class="other" value="">
    <br><br>
    
    primary_email:<br>
    <% if not @origin_clinic.nil? %>
      <%= f.radio_button :primary_email, @origin_clinic.primary_email %><%= @origin_clinic.primary_email %>(origin)<br>
    <% end %>
    <% @clinic_insert.each do |v| %>
    <%= f.radio_button :primary_email, v.primary_email %><%= v.primary_email %><br>
    <% end %>
    <%= f.radio_button :primary_email, "" %>
    <input id='other_primary_email' type='text' class="other" value="">
    <br><br>
    
    other_email:<br>
    <% if not @origin_clinic.nil? %>
      <%= f.radio_button :other_email, @origin_clinic.other_email %><%= @origin_clinic.other_email %>(origin)<br>
    <% end %>
    <% @clinic_insert.each do |v| %>
    <%= f.radio_button :other_email, v.other_email %><%= v.other_email %><br>
    <% end %>
    <%= f.radio_button :other_email, "" %>
    <input id='other_other_email' type='text' class="other" value="">
    <br><br>
    
    fqhc:<br>
    <% if not @origin_clinic.nil? %>
      <%= f.radio_button :fqhc, @origin_clinic.fqhc %><%= @origin_clinic.fqhc %>(origin)<br>
    <% end %>
    <% @clinic_insert.each do |v| %>
    <%= f.radio_button :fqhc, v.fqhc %><%= v.fqhc %><br>
    <% end %>
    <%= f.radio_button :fqhc, "" %>
    <input id='other_fqhc' type='text' class="other" value="">
    <br><br>
    
    other_languages:<br>
    <% if not @origin_clinic.nil? %>
      <%= f.radio_button :other_languages, @origin_clinic.other_languages %><%= @origin_clinic.other_languages %>(origin)<br>
    <% end %>
    <% @clinic_insert.each do |v| %>
    <%= f.radio_button :other_languages, v.other_languages %><%= v.other_languages %><br>
    <% end %>
    <%= f.radio_button :other_languages, "" %>
    <input id='other_other_languages' type='text' class="other" value="">
    <br><br>
    
    pat_population_served:<br>
    <% if not @origin_clinic.nil? %>
      <%= f.radio_button :pat_population_served, @origin_clinic.pat_population_served %><%= @origin_clinic.pat_population_served %>(origin)<br>
    <% end %>
    <% @clinic_insert.each do |v| %>
    <%= f.radio_button :pat_population_served, v.pat_population_served %><%= v.pat_population_served %><br>
    <% end %>
    <%= f.radio_button :pat_population_served, "" %>
    <input id='other_pat_population_served' type='text' class="other" value="">
    <br><br>
    
    area_served:<br>
    <% if not @origin_clinic.nil? %>
      <%= f.radio_button :area_served, @origin_clinic.area_served %><%= @origin_clinic.area_served %>(origin)<br>
    <% end %>
    <% @clinic_insert.each do |v| %>
    <%= f.radio_button :area_served, v.area_served %><%= v.area_served %><br>
    <% end %>
    <%= f.radio_button :area_served, "" %>
    <input id='other_area_served' type='text' class="other" value="">
    <br><br>
    
    comments:<br>
    <% if not @origin_clinic.nil? %>
      <%= f.radio_button :comments, @origin_clinic.comments %><%= @origin_clinic.comments %>(origin)<br>
    <% end %>
    <% @clinic_insert.each do |v| %>
    <%= f.radio_button :comments, v.comments %><%= v.comments %><br>
    <% end %>
    <%= f.radio_button :comments, "" %>
    <input id='other_comments' type='text' class="other" value="">
    <br><br>
    
    other_service:<br>
    <% if not @origin_clinic.nil? %>
      <%= f.radio_button :other_service, @origin_clinic.other_service %><%= @origin_clinic.other_service %>(origin)<br>
    <% end %>
    <% @clinic_insert.each do |v| %>
    <%= f.radio_button :other_service, v.other_service %><%= v.other_service %><br>
    <% end %>
    <%= f.radio_button :other_service, "" %>
    <input id='other_other_service' type='text' class="other" value="">
    <br><br>
    
    low_cost_amount:<br>
    <% if not @origin_clinic.nil? %>
      <%= f.radio_button :low_cost_amount, @origin_clinic.low_cost_amount %><%= @origin_clinic.low_cost_amount %>(origin)<br>
    <% end %>
    <% @clinic_insert.each do |v| %>
    <%= f.radio_button :low_cost_amount, v.low_cost_amount %><%= v.low_cost_amount %><br>
    <% end %>
    <%= f.radio_button :low_cost_amount, "" %>
    <input id='other_low_cost_amount' type='text' class="other" value="">
    <br><br>
    
    sliding_scale_low:<br>
    <% if not @origin_clinic.nil? %>
      <%= f.radio_button :sliding_scale_low, @origin_clinic.sliding_scale_low %><%= @origin_clinic.sliding_scale_low %>(origin)<br>
    <% end %>
    <% @clinic_insert.each do |v| %>
    <%= f.radio_button :sliding_scale_low, v.sliding_scale_low %><%= v.sliding_scale_low %><br>
    <% end %>
    <%= f.radio_button :sliding_scale_low, "" %>
    <input id='other_sliding_scale_low' type='text' class="other" value="">
    <br><br>
    
    sliding_scale_high:<br>
    <% if not @origin_clinic.nil? %>
      <%= f.radio_button :sliding_scale_high, @origin_clinic.sliding_scale_high %><%= @origin_clinic.sliding_scale_high %>(origin)<br>
    <% end %>
    <% @clinic_insert.each do |v| %>
    <%= f.radio_button :sliding_scale_high, v.sliding_scale_high %><%= v.sliding_scale_high %><br>
    <% end %>
    <%= f.radio_button :sliding_scale_high, "" %>
    <input id='other_sliding_scale_high' type='text' class="other" value="">
    <br><br>
    
    no_cost:<br>
    <% if not @origin_clinic.nil? %>
      <%= f.radio_button :no_cost, @origin_clinic.no_cost %><%= @origin_clinic.no_cost %>(origin)<br>
    <% end %>
    <% @clinic_insert.each do |v| %>
    <%= f.radio_button :no_cost, v.no_cost %><%= v.no_cost %><br>
    <% end %>
    <%= f.radio_button :no_cost, "" %>
    <input id='other_no_cost' type='text' class="other" value="">
    <br><br>
    
    low_cost:<br>
    <% if not @origin_clinic.nil? %>
      <%= f.radio_button :low_cost, @origin_clinic.low_cost %><%= @origin_clinic.low_cost %>(origin)<br>
    <% end %>
    <% @clinic_insert.each do |v| %>
    <%= f.radio_button :low_cost, v.low_cost %><%= v.low_cost %><br>
    <% end %>
    <%= f.radio_button :low_cost, "" %>
    <input id='other_low_cost' type='text' class="other" value="">
    <br><br>
    
    sliding_scale:<br>
    <% if not @origin_clinic.nil? %>
      <%= f.radio_button :sliding_scale, @origin_clinic.sliding_scale %><%= @origin_clinic.sliding_scale %>(origin)<br>
    <% end %>
    <% @clinic_insert.each do |v| %>
    <%= f.radio_button :sliding_scale, v.sliding_scale %><%= v.sliding_scale %><br>
    <% end %>
    <%= f.radio_button :sliding_scale, "" %>
    <input id='other_sliding_scale' type='text' class="other" value="">
    <br><br>
    
    uninsured_only:<br>
    <% if not @origin_clinic.nil? %>
      <%= f.radio_button :uninsured_only, @origin_clinic.uninsured_only %><%= @origin_clinic.uninsured_only %>(origin)<br>
    <% end %>
    <% @clinic_insert.each do |v| %>
    <%= f.radio_button :uninsured_only, v.uninsured_only %><%= v.uninsured_only %><br>
    <% end %>
    <%= f.radio_button :uninsured_only, "" %>
    <input id='other_uninsured_only' type='text' class="other" value="">
    <br><br>
    
    medicare:<br>
    <% if not @origin_clinic.nil? %>
      <%= f.radio_button :medicare, @origin_clinic.medicare %><%= @origin_clinic.medicare %>(origin)<br>
    <% end %>
    <% @clinic_insert.each do |v| %>
    <%= f.radio_button :medicare, v.medicare %><%= v.medicare %><br>
    <% end %>
    <%= f.radio_button :medicare, "" %>
    <input id='other_medicare' type='text' class="other" value="">
    <br><br>
    
    medicaid:<br>
    <% if not @origin_clinic.nil? %>
      <%= f.radio_button :medicaid, @origin_clinic.medicaid %><%= @origin_clinic.medicaid %>(origin)<br>
    <% end %>
    <% @clinic_insert.each do |v| %>
    <%= f.radio_button :medicaid, v.medicaid %><%= v.medicaid %><br>
    <% end %>
    <%= f.radio_button :medicaid, "" %>
    <input id='other_medicaid' type='text' class="other" value="">
    <br><br>
    
    CHIP:<br>
    <% if not @origin_clinic.nil? %>
      <%= f.radio_button :CHIP, @origin_clinic.CHIP %><%= @origin_clinic.CHIP %>(origin)<br>
    <% end %>
    <% @clinic_insert.each do |v| %>
    <%= f.radio_button :CHIP, v.CHIP %><%= v.CHIP %><br>
    <% end %>
    <%= f.radio_button :CHIP, "" %>
    <input id='other_CHIP' type='text' class="other" value="">
    <br><br>
    
    private:<br>
    <% if not @origin_clinic.nil? %>
      <%= f.radio_button :private, @origin_clinic.private %><%= @origin_clinic.private %>(origin)<br>
    <% end %>
    <% @clinic_insert.each do |v| %>
    <%= f.radio_button :private, v.private %><%= v.private %><br>
    <% end %>
    <%= f.radio_button :private, "" %>
    <input id='other_private' type='text' class="other" value="">
    <br><br>
    
    payment_call_clinic:<br>
    <% if not @origin_clinic.nil? %>
      <%= f.radio_button :payment_call_clinic, @origin_clinic.payment_call_clinic %><%= @origin_clinic.payment_call_clinic %>(origin)<br>
    <% end %>
    <% @clinic_insert.each do |v| %>
    <%= f.radio_button :payment_call_clinic, v.payment_call_clinic %><%= v.payment_call_clinic %><br>
    <% end %>
    <%= f.radio_button :payment_call_clinic, "" %>
    <input id='other_payment_call_clinic' type='text' class="other" value="">
    <br><br>
    
    payment_comments:<br>
    <% if not @origin_clinic.nil? %>
      <%= f.radio_button :payment_comments, @origin_clinic.payment_comments %><%= @origin_clinic.payment_comments %>(origin)<br>
    <% end %>
    <% @clinic_insert.each do |v| %>
    <%= f.radio_button :payment_comments, v.payment_comments %><%= v.payment_comments %><br>
    <% end %>
    <%= f.radio_button :payment_comments, "" %>
    <input id='other_payment_comments' type='text' class="other" value="">
    <br><br><br>
    
    HOURS:<br><br>
    <% @clinic_insert_hour.each do |type, array| %>
      <% if not array.empty? %>
        <%= type %><br><br>
        
        hours_call_clinic:<br>
        <input type="radio" name="hour[<%= type %>][hours_call_clinic]" value="<%= @origin_hour[type].hours_call_clinic %>">
        <%= @origin_hour[type].hours_call_clinic %>(origin)<br>
        
        <% array.each do |hour| %>
          <input type="radio" name="hour[<%= type %>][hours_call_clinic]" value="<%= hour.hours_call_clinic %>">
          <%= hour.hours_call_clinic %><br>
        <% end %>
        <input type="radio" name="hour[<%= type %>][hours_call_clinic]" value="">
        <input type='text' class="other" value=""><br><br>
      
       
        mon:<br>
        <input type="radio" name="hour[<%= type %>][mon]" value="<%= @origin_hour[type].mon %>">
        <%= @origin_hour[type].mon %>(origin)<br>
        
        <% array.each do |hour| %>
         <input type="radio" name="hour[<%= type %>][mon]" value="<%= hour.mon %>">
         <%= hour.mon %><br>
        <% end %>
        <input type="radio" name="hour[<%= type %>][mon]" value="">
        <input type='text' class="other" value=""><br><br>
       
        tue:<br>
        <input type="radio" name="hour[<%= type %>][tue]" value="<%= @origin_hour[type].tue %>">
        <%= @origin_hour[type].tue %>(origin)<br>
        
        <% array.each do |hour| %>
         <input type="radio" name="hour[<%= type %>][tue]" value="<%= hour.tue %>">
         <%= hour.tue %><br>
        <% end %>
        <input type="radio" name="hour[<%= type %>][tue]" value="">
        <input type='text' class="other" value=""><br><br>

        wed:<br>
        <input type="radio" name="hour[<%= type %>][wed]" value="<%= @origin_hour[type].wed %>">
        <%= @origin_hour[type].wed %>(origin)<br>
        
        <% array.each do |hour| %>
         <input type="radio" name="hour[<%= type %>][wed]" value="<%= hour.wed %>">
         <%= hour.wed %><br>
        <% end %>
        <input type="radio" name="hour[<%= type %>][wed]" value="">
        <input type='text' class="other" value=""><br><br>

        thr:<br>
        <input type="radio" name="hour[<%= type %>][thr]" value="<%= @origin_hour[type].thr %>">
        <%= @origin_hour[type].thr %>(origin)<br>
        
        <% array.each do |hour| %>
         <input type="radio" name="hour[<%= type %>][thr]" value="<%= hour.thr %>">
         <%= hour.thr %><br>
        <% end %>
        <input type="radio" name="hour[<%= type %>][thr]" value="">
        <input type='text' class="other" value=""><br><br>

        fri:<br>
        <input type="radio" name="hour[<%= type %>][fri]" value="<%= @origin_hour[type].fri %>">
        <%= @origin_hour[type].fri %>(origin)<br>
        
        <% array.each do |hour| %>
         <input type="radio" name="hour[<%= type %>][fri]" value="<%= hour.fri %>">
         <%= hour.fri %><br>
        <% end %>
        <input type="radio" name="hour[<%= type %>][fri]" value="">
        <input type='text' class="other" value=""><br><br>
        
        sat:<br>
        <input type="radio" name="hour[<%= type %>][sat]" value="<%= @origin_hour[type].sat %>">
        <%= @origin_hour[type].sat %>(origin)<br>
        
        <% array.each do |hour| %>
         <input type="radio" name="hour[<%= type %>][sat]" value="<%= hour.sat %>">
         <%= hour.sat %><br>
        <% end %>
        <input type="radio" name="hour[<%= type %>][sat]" value="">
        <input type='text' class="other" value=""><br><br>
        
        sun:<br>
        <input type="radio" name="hour[<%= type %>][sun]" value="<%= @origin_hour[type].sun %>">
        <%= @origin_hour[type].sun %>(origin)<br>
        
        <% array.each do |hour| %>
         <input type="radio" name="hour[<%= type %>][sun]" value="<%= hour.sun %>">
         <%= hour.sun %><br>
        <% end %>
        <input type="radio" name="hour[<%= type %>][sun]" value="">
        <input type='text' class="other" value=""><br><br>
        
        appointment_only:<br>
        <input type="radio" name="hour[<%= type %>][appointment_only]" value="<%= @origin_hour[type].appointment_only %>">
        <%= @origin_hour[type].appointment_only %>(origin)<br>
        
        <% array.each do |hour| %>
         <input type="radio" name="hour[<%= type %>][appointment_only]" value="<%= hour.appointment_only %>">
         <%= hour.appointment_only %><br>
        <% end %>
        <input type="radio" name="hour[<%= type %>][appointment_only]" value="">
        <input type='text' class="other" value=""><br><br>
        
        comment:<br>
        <input type="radio" name="hour[<%= type %>][comment]" value="<%= @origin_hour[type].comment %>">
        <%= @origin_hour[type].comment %>(origin)<br>
        
        <% array.each do |hour| %>
         <input type="radio" name="hour[<%= type %>][comment]" value="<%= hour.comment %>">
         <%= hour.comment %><br>
        <% end %>
        <input type="radio" name="hour[<%= type %>][comment]" value="">
        <input type='text' class="other" value=""><br><br>
        
        walkin_only:<br>
        <input type="radio" name="hour[<%= type %>][walkin_only]" value="<%= @origin_hour[type].walkin_only %>">
        <%= @origin_hour[type].walkin_only %>(origin)<br>
        
        <% array.each do |hour| %>
         <input type="radio" name="hour[<%= type %>][walkin_only]" value="<%= hour.walkin_only %>">
         <%= hour.walkin_only %><br>
        <% end %>
        <input type="radio" name="hour[<%= type %>][walkin_only]" value="">
        <input type='text' class="other" value=""><br><br>
        
      <% end %><br>
    <% end %><br>
    
    SERVICE:<br><br>
    <% if not @clinic_insert_service['ADD'] %>
      add:<br>
      <% @clinic_insert_service['ADD'].each do |is| %>
        <input type="checkbox" name="service_add[<%= is.service_abbr %>]"><%= is.service_abbr %><br>
      <% end %>
    <% end %><br>
    
    <% if not @clinic_insert_service['DELETE'] %>
      delete:<br>
      <% @clinic_insert_service['DELETE'].each do |is| %>
        <input type="checkbox" name="service_delete[<%= is.service_abbr %>]"><%= is.service_abbr %><br>
      <% end %>
    <% end %>
    
    origin:<br>
    <% @clinic.service.each do |is| %>
      <=% is.service_abbr %>
    <% end %>
    
    <%= f.submit "Submit" %>
  <% end %>
  
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script>
    $(function(){
        console.log("ready");
        $('#clinic_submit').on('click', function(){
            console.log("submit");
            $('.other').each(function (){
                var $this = $(this);
                console.log("value: " + $this.val());
                console.log("prev_value: " + $this.prev().attr("value"));
                $this.prev().attr("value", $this.val());
            });
        }); 
    });

  </script>
</body>
</html>
